* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	scrollbar-width: thin;
	scrollbar-color: gray black;
}
html{
	scroll-behavior: smooth;
}

@media (max-width: 600px){
	*{
		scrollbar-width: none;
	}
}

body {
	background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
}

h1 {
	font-size: 2.125em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

p, span {
	display: inline-block;
	color: inherit;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

textarea{
	resize: none;

    font-size: .9em;
}

select{
	background-color: black;
    color: white;
	cursor: pointer;
	border: 0.125em solid white;
	padding: .45em 1em;
    font-size: .9em;
}

select:focus{ 
	outline: none;
}

input{
	border: 0.125em solid white;
	background-color: white;
	color: black;

    font-size: .9em;
}

button{
    padding: .5em 1.5em;
    background-color: black;
    color: white;
    border: 0.125em solid white;
    cursor: pointer;
    transition: .35s;

    font-size: .9em;
}
button:hover{
    background-color: white;
    color: black;
}