#footer_v1{
    padding: 2em 1em;
    background-image: url("/images/img_banners/banner_footer.jpg");
    background-size: cover;
    background-position: center;
}

#footer_v1_box>ul{
    gap: 1em;
}
#footer_v1_box>ul>*{
    cursor: pointer;
}
#footer_v1_box>ul:nth-child(2)>li{
    font-size: 1.3em;
}

#footer_v1_box>ul:nth-child(2)>li{
    background-color: black;
    display: grid;
    place-items: center;
    width: 2em;
    height: 2em;
    border-radius: 2em;
}

@media (max-width: 460px){
    #footer_v1_box{
        text-align: center;
        display: grid;
        place-content: center;
        place-items: center;
    }
}